body,h1,h2,h3,p,small,form,input,ul,li,ol,label{
    /* The reset rules */
    margin:0px;
    padding:0px;
}

body {
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
  }

canvas{
    outline:0;
    border:1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }

h1{
    font-size:28px;
    font-weight:bold;
    font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
    letter-spacing:1px;
}

h2{
    font-family:"Arial Narrow",Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:normal;
    letter-spacing:1px;
    padding-left:2px;
    text-transform:uppercase;
    white-space:nowrap;
    margin-top:4px;
    color:#888888;
}

#main p{
    padding-bottom:8px;
}

.clear{
    clear:both;
}

#main{
    width:800px;
    /* Centering it in the middle of the page */
    margin:60px auto;
}

.container{
    margin-top:20px;
    
    background:#FFFFFF;
    border:1px solid #E0E0E0;
    padding:15px;
    
    /* Rounded corners */
    -moz-border-radius:20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
}

.err{
    color:red;
}

.success{
    color:#00CC00;
}

a, a:visited {
    color:#00BBFF;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

.tutorial-info{
    text-align:center;
    padding:10px;
}  

.bgCover{
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 100;
  }

.overlayBox{
    background: #fff;
    border: 5px solid #09f;
    position: absolute;
    display: none;
    width: 500px;
    height: 300px;
    z-index: 101;
}

.launchLink{
    position: relative;
    width: 32px;
    height: 32px;
    border: 0;
    margin: 0;
    z-index: 2;
}

.closeLink{
    position: relative;
    width: 16px;
    height: 16px;
    left: 47%;
    top: 5px;

}

.restart{
    width: 32px;
    height: 32px;
    padding: 2px;
    border: 0;
    margin: 0;
    background: url("../images/icon-repeat_nClick.png") no-repeat center top;
}

.restart:active{
    background: url("../images/icon-repeat.png") no-repeat center top;
}

.play{
    position: relative;
    top: 70px;
}

.play-not{
    position: relative;
    top: 0px;
}

.pvpNumb{

    display: inline;
    margin: 6px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    background: white;
    filter: alpha(opacity = 60);
    -moz-box-shadow: 0px 2px 6px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#000000')";
}

.pvpHJ{
    width: 100px;
    height: 100px;
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 1px;
    font-size: 30px;
    background: white;
    -moz-box-shadow: 0px 2px 6px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#000000')";
}

.noGames{
    margin: 0 auto;
    color: #777777;
    font-size: 18px;
    font-weight: bold;
}

.noGames td{
    padding-left: 25px;
    padding-right: 25px;
}

.join_player{
    position: absolute;
    margin: 0 auto;
    margin-top: -100px;
    border: 1px solid #cccccc;
    display: none;
}

#pvp{
    width: 100px;
    height: 100px;
    background: url("../images/PvP.png");
    opacity: 0.6;
    filter: alpha(opacity = 60);
    -moz-box-shadow: 0px 2px 6px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#000000')";
}

#pvc{
    width: 100px;
    height: 100px;
    background: url("../images/PvC.png");
    -moz-box-shadow: 0px 2px 6px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#000000')";
}

#error{
    font-size: 30px;
}

#chat{
    margin: 0 auto;
    width: 250px;
    height: 50px;
    overflow: auto;
    border: 1px solid #cccccc;
    text-align: left;
    padding-left: 5px;
}

#message{
    width: 250px;
}
