<html>
  <head>

    <link rel="stylesheet" type="text/css" href="../css/game.css" />
    <script lang="javascript" src="../js/jquery-1.9.1.min.js"></script>
    <title>Simple game with HTML5 Canvas</title>

  </head>

  <body>

  <div>
    <a href="#" class="launchLink"><img src="../images/icon-settings.png"></a>
    <canvas id='c'></canvas>
    <script src="../js/game.js"></script>
  </div>

    <!-- The dark background -->
    <div class="bgCover">&nbsp;</div>
    <!-- overlay box -->
    <div class="overlayBox">
        <div class="overlayContent">
            <!--the close button-->
            <a href="#" class="closeLink"><img src="../images/icon-exit.png"></a>
            <!--normal content-->
            <div id="play" class="play">
                <span><input type="button" value="" onclick="pvp()" id="pvp"></span>
                &nbsp
                <span><input type="button" value="" onclick="pvc()" id="pvc"></span>
                <p class="info"></p>
            </div>
            <div id="gameData">
            <h2 class="player"></h2>
            <p class="score"></p>
            <input type="submit" value="" class="restart">
            </div>
        </div>
    </div>
    <!-- the launch link, just add the class launchLink to any link to make it launchable -->

  </body>

</html>